In [1]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,
                         summarize)
from ISLP import confusion_table
from ISLP.models import contrast
from sklearn.discriminant_analysis import \
     (LinearDiscriminantAnalysis as LDA,
      QuadraticDiscriminantAnalysis as QDA)
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from functools import partial
from sklearn.model_selection import \
     (cross_validate,
      KFold,
      ShuffleSplit)
from sklearn.base import clone
from ISLP.models import sklearn_sm

### Question 5

We will estimate the test error on the logistic regression model from Ch 04 Exercises.

a) Fit a logistic regression model that uses income and balance to
 predict default.

In [3]:
default = pd.read_csv("Default.csv")
default

     default student      balance        income
0         No      No   729.526495  44361.625074
1         No     Yes   817.180407  12106.134700
2         No      No  1073.549164  31767.138947
3         No      No   529.250605  35704.493935
4         No      No   785.655883  38463.495879
...      ...     ...          ...           ...
9995      No      No   711.555020  52992.378914
9996      No      No   757.962918  19660.721768
9997      No      No   845.411989  58636.156984
9998      No      No  1569.009053  36669.112365
9999      No     Yes   200.922183  16862.952321

[10000 rows x 4 columns]

In [4]:
np.unique(default[['default','student']])

array(['No', 'Yes'], dtype=object)

In [5]:
np.unique(np.isnan(default[['balance','income']]))

array([False])

No missing values to worry about.

In [7]:
allvars = default[['balance','income']]
design = MS(allvars)
X = design.fit_transform(default)
y = default.default == 'Yes'
glm = sm.GLM(y,
             X,
             family=sm.families.Binomial())
results = glm.fit()
summarize(results)

                coef   std err       z  P>|z|
intercept -11.540500  0.435000 -26.544    0.0
balance     0.005600  0.000000  24.835    0.0
income      0.000021  0.000005   4.174    0.0

b) Using the validation set approach, estimate the test error of this  model.

In [9]:
#split train/test data - 5000/5000
def_train, def_valid = train_test_split(default[['balance','income','default']],
                                          test_size=5000,
                                          random_state=3)

#retrain logistic model on training data
X_train = design.fit_transform(def_train)
y_train = def_train.default == 'Yes'
glm = sm.GLM(y_train,
             X_train,
             family=sm.families.Binomial())
results = glm.fit()

#prediction of test data and classifying predictions
X_test = design.fit_transform(def_valid)
y_test = def_valid.default == 'Yes'
probs = results.predict(exog=X_test)

y_test = np.where(y_test==0,"No","Ye")
labels = np.array(["No"]*5000)
labels[probs>0.5] = 'Yes'
confusion_table(labels, y_test)

Truth        No   Ye
Predicted
No         4817  110
Ye           14   59

In [10]:
np.unique(labels)

array(['No', 'Ye'], dtype='<U2')

I don't know why labels is only assigning "Ye" instead of "Yes," so we're going to work with some funny labeling.

In [12]:
(14+110)/5000

0.0248

The validation set error is 2.5%

c) Repeat the process in (b) three times, using three different splits  of the observations into a training set and a validation set. Co
ment on the results obtaine.

In [14]:
#split train/test data - 2500/7500
def_train, def_valid = train_test_split(default[['balance','income','default']],
                                          test_size=7500,
                                          random_state=26)

#retrain logistic model on training data
X_train = design.fit_transform(def_train)
y_train = def_train.default == 'Yes'
glm = sm.GLM(y_train,
             X_train,
             family=sm.families.Binomial())
results = glm.fit()

#prediction of test data and classifying predictions
X_test = design.fit_transform(def_valid)
y_test = def_valid.default == 'Yes'
probs = results.predict(exog=X_test)

y_test = np.where(y_test==0,"No","Ye")
labels = np.array(["No"]*7500)
labels[probs>0.5] = 'Yes'
confusion_table(labels, y_test)

Truth        No   Ye
Predicted
No         7211  181
Ye           29   79

In [15]:
#split train/test data - 7500/2500
def_train, def_valid = train_test_split(default[['balance','income','default']],
                                          test_size=2500,
                                          random_state=7)

#retrain logistic model on training data
X_train = design.fit_transform(def_train)
y_train = def_train.default == 'Yes'
glm = sm.GLM(y_train,
             X_train,
             family=sm.families.Binomial())
results = glm.fit()

#prediction of test data and classifying predictions
X_test = design.fit_transform(def_valid)
y_test = def_valid.default == 'Yes'
probs = results.predict(exog=X_test)

y_test = np.where(y_test==0,"No","Ye")
labels = np.array(["No"]*2500)
labels[probs>0.5] = 'Yes'
confusion_table(labels, y_test)

Truth        No  Ye
Predicted
No         2416  55
Ye            6  23

In [16]:
#split train/test data - 9000/1000
def_train, def_valid = train_test_split(default[['balance','income','default']],
                                          test_size=1000,
                                          random_state=31)

#retrain logistic model on training data
X_train = design.fit_transform(def_train)
y_train = def_train.default == 'Yes'
glm = sm.GLM(y_train,
             X_train,
             family=sm.families.Binomial())
results = glm.fit()

#prediction of test data and classifying predictions
X_test = design.fit_transform(def_valid)
y_test = def_valid.default == 'Yes'
probs = results.predict(exog=X_test)

y_test = np.where(y_test==0,"No","Ye")
labels = np.array(["No"]*1000)
labels[probs>0.5] = 'Yes'
confusion_table(labels, y_test)

Truth       No  Ye
Predicted
No         968  20
Ye           1  11

In [17]:
print("Split 1:",(14+110)/5000,'\n',"Split 2:",(29+181)/7500,'\n',"Split 3:",(6+55)/2500,'\n',"Split 4:",(21)/1000)

Split 1: 0.0248
 Split 2: 0.028
 Split 3: 0.0244
 Split 4: 0.021

The validation set error varies a lot depending on the proportion of observations held out.  the fewer observations used for testing, the more likely the model is overfitting the data.

d) Now consider a logistic regression model that predicts the prob
ability of default using income, balance, and a dummy variabl 
 for student. Estimate the test error for this model using the vl
idation set approach. Comment on whether or not includin a
 d ummyvariable for student leads to a reduction in the test e or
 rate.

In [19]:
#split train/test data - 5000/5000
default['student'] = default['student'].astype("category")
def_train, def_valid = train_test_split(default,
                                          test_size=5000,
                                          random_state=3)

allvars = default[['balance','income','student']]
design = MS(allvars)

#retrain logistic model on training data
X_train = design.fit_transform(def_train)
y_train = def_train.default == 'Yes'
glm = sm.GLM(y_train,
             X_train,
             family=sm.families.Binomial())
results = glm.fit()

#prediction of test data and classifying predictions
X_test = design.fit_transform(def_valid)
y_test = def_valid.default == 'Yes'
probs = results.predict(exog=X_test)

y_test = np.where(y_test==0,"No","Ye")
labels = np.array(["No"]*5000)
labels[probs>0.5] = 'Yes'
confusion_table(labels, y_test)

Truth        No   Ye
Predicted
No         4815  110
Ye           16   59

In [20]:
(16+110)/5000

0.0252

The validation set error is 2.5% , which with rounding is the same as the logistic model without using student as a dummy variable.
### Question 6
we will now compute estimates for the 
standard errors of the income and balance logistic regressio coefficients

a) Using the summarize() and sm.GLM() functions, determine the 
estimated standard errors for the coefcients associated wit 
income and balance in a multiple logistic regression model th t
uses both predictors.s

In [22]:
#dropping student column of default
default = default[['balance','income','default']]

#training the logistic regession model on all observations
allvars = default[['balance','income']]
design = MS(allvars)
X = design.fit_transform(default)
y = default.default == 'Yes'
glm = sm.GLM(y,
             X,
             family=sm.families.Binomial())
results = glm.fit()
summarize(results)['std err']

intercept    0.435000
balance      0.000000
income       0.000005
Name: std err, dtype: float64

b) Write a function, boot_fn(), that takes as input the Default data set as well as an index of the observations, and that output 
the oefficientt estimates for income and balance in the multile 
logistic regression model.

In [24]:
#boot_fn outputs the coefficients of the logistic model
def boot_fn(model_matrix, response, D, idx):
    D_ = D.loc[idx]
    Y_ = D_[response]
    X_ = clone(model_matrix).fit_transform(D_)
    return sm.GLM(Y_,
                  X_,
                  family=sm.families.Binomial()).fit().params

c) Following the bootstrap example in the lab, use your boot_fn() 
function to estimate the standard errors of the logistic regressio 
cofiefcients for income and balance.

In [26]:
#adjust default to a boolean instead of a list of strings
default['default'] = default.default == "Yes"

#computes bootsrap standard error for arbitraty functions
def boot_SE(func,
            D,
            n=None,
            B=1000,
            seed=0):
    rng = np.random.default_rng(seed)
    first_, second_ = 0, 0
    n = n or D.shape[0]
    for _ in range(B):
        idx = rng.choice(D.index,
                         n,
                         replace=True)
        value = func(D, idx)
        first_ += value
        second_ += value**2
    return np.sqrt(second_ / B - (first_ / B)**2)

#freeze first two  arguments of boot_fn so boot_fn only has D and idx free
lr_func = partial(boot_fn, MS(['balance','income']), 'default')

boot_SE(lr_func,
        default,
        B=1000,
        seed=0)

C:\Users\deann\AppData\Local\Temp\ipykernel_74928\161892803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  default['default'] = default.default == "Yes"

intercept    0.435692
balance      0.000230
income       0.000005
dtype: float64

d) Comment on the estimated standard errors obtained using the 
sm.GLM() function and using the bootstrap.
The standard errors generated by sm.GLM() are lower than the ones calculated via bootsrap, indicating that the single run of the logistic model can be inaccurate compared to running the model 1000 times and taking an average of the estimates. Its no different conceptually from estimating a value when n=1 vs n=1000. One method will simply be better than the other.
### Question 7
compute the LOOCV error 
for a simple logistic regression model on the Weekly data set

a) Fit a logistic regression model that predicts Direction using Lag1 
and Lag2..

In [28]:
weekly = pd.read_csv("Weekly.csv", usecols=['Lag1','Lag2','Direction'])
weekly

       Lag1   Lag2 Direction
0     0.816  1.572      Down
1    -0.270  0.816      Down
2    -2.576 -0.270        Up
3     3.514 -2.576        Up
4     0.712  3.514        Up
...     ...    ...       ...
1084 -0.861  0.043        Up
1085  2.969 -0.861        Up
1086  1.281  2.969        Up
1087  0.283  1.281        Up
1088  1.034  0.283        Up

[1089 rows x 3 columns]

In [29]:
allvars = weekly[['Lag1','Lag2']]
design = MS(allvars)
X = design.fit_transform(weekly)
y = weekly.Direction == 'Up'
glm = sm.GLM(y,
             X,
             family=sm.families.Binomial())
results = glm.fit()
summarize(results)

             coef  std err      z  P>|z|
intercept  0.2212    0.061  3.599  0.000
Lag1      -0.0387    0.026 -1.477  0.140
Lag2       0.0602    0.027  2.270  0.023

b) Fit a logistic regression model that predicts Direction using Lag1 
and Lag2 using all but the frst observation.

In [31]:
#split 1st row from everything else
week_train = weekly.loc[1:,:]
week_valid = weekly.loc[0,:].to_frame()
week_valid = week_valid.T

#train logistic regression
X_train = design.fit_transform(week_train)
y_train = week_train.Direction == 'Up'
glm = sm.GLM(y_train,
             X_train,
             family=sm.families.Binomial())
results = glm.fit()

c) Use the model from (b) to predict the direction of the frst observation. You can do this by predicting that the frst observation will go up if P(Direction = "Up"|Lag1, Lag2) > 0.5. Was this observation correctly classifed?

In [33]:
#prediction of test data and classifying predictions
X_test = design.fit_transform(week_valid)
X_test = X_test.astype('float64')
y_test = week_valid.Direction == 'Up'
probs = results.predict(exog=X_test)

y_test = np.where(y_test==0,"Down","Up")
labels = np.array(["Down"]*1)
labels[probs>0.5] = 'Up'
confusion_table(labels, y_test)

Truth      Down  Up
Predicted
Down          0   0
Up            1   0

The observation was not correctly classified.

d) Write a for loop from i = 1 to i = n, where n is the number of 
observations in the data set, thatfits the model, computes posterior probability, and calculate whether there was an error.s

In [35]:
n=weekly.shape[0]
i = 0
test_err = 0
for i in range(n):
    #split ith row from everything else
    week_train = weekly.loc[weekly.index != i]
    week_valid = weekly.loc[i,:].to_frame()
    week_valid = week_valid.T

    #train logistic regression
    X_train = design.fit_transform(week_train)
    y_train = week_train.Direction == 'Up'
    glm = sm.GLM(y_train,
                 X_train,
                 family=sm.families.Binomial())
    results = glm.fit()

    #prediction of test data and classifying predictions
    X_test = design.fit_transform(week_valid)
    X_test = X_test.astype('float64')
    y_test = week_valid.Direction == 'Up'
    probs = results.predict(exog=X_test)

    y_test = np.where(y_test==0,"Down","Up")
    labels = np.array(["Down"]*1)
    labels[probs>0.5] = 'Up'

    #assign error
    if labels == y_test:
        test_err += 1

    #increase index
    i += 1

In [36]:
print("The LOOCV estimate for test error is",test_err/n)

The LOOCV estimate for test error is 0.5500459136822773

The model doesn't overfit the training data but also isn't very close to the true responses. Very middle of the road at 55%.
y